<div class="col-12 d-flex justify-content-end gap-2">
    <a class="btn btn-outline-secondary" href="{{ cancelPath }}">Cancel</a>
    <button class="btn btn-primary" type="submit">{{ submitLabel|default('Save') }}</button>
</div>
